.CommonList {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: -webkit-flex;
    border-top:1px solid #e2e2e2;
}

.CommonListContainer:hover{
    background-color: rgb(246, 246, 246);
}

li {
    list-style: none;
}

.CommonList a img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.Container {
    display: flex;
    display: -webkit-flex;
    width: 65%;
    /* margin: 10px auto; */
    margin-left: 10px;
    text-align: center;
}
.Container p {
    height: 20px;
    line-height: 20px;
    font-size: 15px;
}

.Tab {
    min-width: 30px;
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 2px;
    text-align: center;
}
.Numbers{
    width: 80px;
    text-align: center;
}
.Good {
    min-width: 30px;
    background-color: #80bd01;
    color: #fff;
    padding: 2px 2px;
    text-align: center;
}
.Top {
    min-width: 30px;
    background-color: #80bd01;
    color: #fff;
    padding: 2px 2px;
    text-align: center;
}

.Container a {
    /* position: absolute; */
    /* max-width: 720px; */
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    /* float: left; */
    margin-left: 10px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
}

.Container a:hover{
    text-decoration-style: solid;
    text-decoration-color: #999;
    text-decoration-line: underline;
}

span {
    width:30%;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
