.HomeList {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: -webkit-flex;
}

.HomeListContainer:hover{
    background-color: rgb(246, 246, 246);
}

li {
    list-style: none;
}

.HomeList a img {
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.Container {
    display: flex;
    display: -webkit-flex;
    width: 60%;
    /* margin: 10px auto; */
    margin-left: 10px;
    text-align: center;
}
.Container p {
    /* position: absolute; */
    
    height: 20px;
    line-height: 20px;
    font-size: 15px;
    /* float: left; */
    /* margin-left: 10px; */
}

.Container a {
    /* position: absolute; */
    width: 60%;
    height: 100%;
    line-height: 50px;
    font-size: 15px;
    /* float: left; */
    margin-left: 10px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    text-align: left;
}

span {
    /* position: absolute; */
    /* float: right; */
    width: 35%;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: right;
}
.Tab {
    background-color: #e5e5e5;
    color: #999;
    padding: 2px 2px;
}
.Numbers{
    width: 80px;
    text-align: center;
}
.Good {
    background-color: #80bd01;
    color: #fff;
    padding: 2px 2px;
}
.Top {
    background-color: #80bd01;
    color: #fff;
    padding: 2px 2px;
}

.Hr{
    width: 100%;
    height:1px;
    border:none;
    border-top:1px solid grey;
    opacity: 0.5;
    margin: 0px 0px;
}