.HomeNavigation {
    width: 90%;
    height: 40px;
    background-color: rgb(246, 246, 246);
    margin: 0 auto;
}
.HomeNavigation ul{
    margin-left: 10px;
    height: 100%;
    padding-left: 0px;
}
.HomeNavigation li{
    list-style: none;
    float: left;
    /* display: inline-block; */
    margin-left: 10px;
    color: green;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
    padding: 3px 4px;
    border-radius: 3px;
    /* vertical-align: -webkit-baseline-middle; */
    max-width: 50px;
    margin: 4px;    

}
.HomeNavigation li:hover{
    color: blue;
    cursor: pointer;
}
.NavigationBg {
    background-color: #80bd01;
    color: #fff;
}